.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-image {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    position: absolute;
    left: 1000px;
    top: 400px;
}


.sprites img {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
}