/* Общие настройки */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Koulen", sans-serif;
}

/* Фон и выравнивание для всего экрана */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("images/background.jpg") #2b2c34 no-repeat center center fixed;
    background-size: cover;
}

/* Настройки контейнера */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Карточки в ряд */
.card-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-item {
    height: auto;
    color: #fff;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.user-image {
    width: 176px;
    height: 124px;
    
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.user-profession {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.message-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
}

