* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: white;
}

header {
    background-color: #fff;
    color: black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.logo-link {
    text-decoration: none;
    color: black;
}
.logo-link:hover {
    color: #666;
}


.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    margin-right: 10px;
    border-radius: 15px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    padding: 20px;
}

.info-section {
    background-color: #2b2b2b;
    padding: 150px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 18px;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    gap: 10px;
}

.platform-logo {
    width: 50px;
    border-radius: 15px;
}

.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-image {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    position: absolute;
    left: 600px;
    top: 174px;
    
}

