/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: white;
}

header {
    background-color: #fff;
    color: black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

/* Стиль кнопки "2D CyberCity" */
.logo-link {
    text-decoration: none;
    color: black;
}

.logo-link h1 {
    font-size: 24px;
    color: black;
    background-color: #e0e0e0;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease; /* Добавлен плавный переход */
}

/* Изменение цвета при наведении на кнопку "2D CyberCity" */
.logo-link:hover h1 {
    background-color: #d4d4d4; /* Новый цвет фона при наведении */
    color: #333; /* Новый цвет текста при наведении */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    margin-right: 10px;
    border-radius: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #d4d4d4;
    color: #000;
}

main {
    padding: 20px;
}

.info-section {
    background-color: #2b2b2b;
    padding: 150px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 18px;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    gap: 10px;
}

.platform-logo {
    width: 50px;
    border-radius: 15px;
}

.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-image {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    position: absolute;
    left: 600px;
    top: 174px;
}
